html {
    font-family: Helvetica, sans-serif, Arial;
    box-sizing: border-box;
    height: 77%;
}

body {
    text-align: center;
    background-color: cornsilk;
    height: 77%;
}

#playField {
    display: inline-block;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: space-around;
}

.selection {
    min-height: 150px;
    max-height: 150px;
}

.title {
    font-size: 48px;
    background: rgb(37,77,117);
    background: linear-gradient(33deg, rgba(37,77,117,1) 0%, rgba(31,115,112,1) 41%, rgba(61,231,222,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.result {
    background: rgb(255,87,44);
    background: linear-gradient(216deg, rgba(255,87,44,1) 0%, rgba(255,222,96,1) 38%, rgba(51,255,213,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#playerArea {
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    align-items: center;
}

#buttonSelectionArea {
    height: 100px;
    max-height: 100px;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
}

button {
    display: inline-flex;
    height: 50px;
    width: 50px;
    border: none;
    background-color: rgb(235, 227, 204);
    border-radius: 50%;
    opacity: 1;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

button:hover {
    opacity: 1;
    background: rgb(88,139,190);
    background: linear-gradient(266deg, rgba(88,139,190,1) 0%, rgba(62,186,182,1) 41%, rgba(61,231,222,1) 100%);
}

#hand{
    max-height: 150px;
    align-items: center;
}